# {{ ansible_managed }}
title: {{ service_domain }} homelab
headerStyle: clean
theme: dark
layout:
  Media:
    style: row
    columns: 4
  Downloads:
    style: row
    columns: 4
  Infra:
    style: row
    columns: 4
