{{ ansible_managed | comment }}
[Unit]
Description=RomM
Requires=romm-db.service
After=romm-db.service

[Container]
Image={{ media_images.romm }}
ContainerName=romm
Network=romm.network
EnvironmentFile=%h/appdata/romm/romm.env
PublishPort=127.0.0.1:8081:8080
Volume=/srv/media/romm:/romm/library
Volume=%h/appdata/romm/resources:/romm/resources:Z
Volume=%h/appdata/romm/redis-data:/redis-data:Z
Volume=%h/appdata/romm/assets:/romm/assets:Z
Volume=%h/appdata/romm/config:/romm/config:Z
Environment=TZ={{ timezone }}

[Service]
ExecStartPre=/bin/sh -c 'stat /srv/media/. >/dev/null && findmnt -t nfs4 -M /srv/media >/dev/null'
Restart=on-failure

[Install]
WantedBy=default.target
