# /etc/systemd/system/prowlarr-proxy.socket
[Unit]
Description=Prowlarr UI proxy socket (VLAN -> vpn netns veth)

[Socket]
ListenStream=192.168.1.31:9696
BindIPv6Only=ipv6-only

[Install]
WantedBy=sockets.target
