# /etc/systemd/system/radarr-proxy.socket
[Unit]
Description=Radarr UI proxy socket (VLAN -> vpn netns veth)

[Socket]
ListenStream=192.168.1.31:7878
BindIPv6Only=ipv6-only

[Install]
WantedBy=sockets.target
