# /etc/systemd/system/sonarr-proxy.socket
[Unit]
Description=Sonarr UI proxy socket (VLAN -> vpn netns veth)

[Socket]
ListenStream=192.168.1.31:8989
BindIPv6Only=ipv6-only

[Install]
WantedBy=sockets.target
