HC_BASE={{ healthchecks_base_url | quote }}
HC_PING_VERIFY={{ vault_hc_ping_verify | default('') | quote }}
HC_PING_BACKUPS={{ vault_hc_ping_backups | default('') | quote }}
HC_PING_HEARTBEAT={{ vault_hc_ping_heartbeat | default('') | quote }}
